[2019-11-28 03:33] mikedeshazer opened #1 "Chainlink Integration"
One of the goals of OrFeed is to aggregate data from multiple sources. With this, one of the most popular oracle platforms in Chainlink. Our goal is to add a proxy contract that can interface with chainlink and can be called by the orfeed contract's priceAsyncInterface interface included in orfeed.sol (in requestAsyncExchangeRate and requestAsyncExchangeRateResult functions).
The  proxy contract w

[2019-11-28 06:21] mikedeshazer opened #2 "Augur Integration"
To improve OrFeed's aggregator, there is a need to add an Augur integration.
Proposed:
A proxy smart contract that can be called from OrFeed's Agg contract (contracts/orfeed.sol) through the eventsAsyncInterface with the following functions:

function requestEventResult(string eventName, string source) external returns(string);

function getRequestedEventResult(string eventName, string source, str

[2019-11-28 08:22] mikedeshazer opened #3 "Oracle Contracts for Testnets (Rinkeby & Kovan)"
There have been a few requests for the OrFeed Oracle to be used and tested in testnet environments.

This will require the default tokens (about 15 or, such as SAI, DAI, LINK, CDAI etc) to have addresses updated for the testnets, as well as Synths such as USD, JPY etc in the main contacts (contracts/orfeed.sol and draftpremium.sol) so it can have the same functionality as the main contract.

To so

[2019-11-28 08:49] mikedeshazer opened #4 "Bancor Price Integration"
This is issue has been a sage and you can read the comments below to follow that saga. Hopefully, this can be solved.  We want to get bancor prices in this aggregator in a similar way to how we have gotten Uniswap and Kyber price discovery going on. You can see the latest work in the develop branch with this contract: https://github.com/ProofSuite/OrFeedSmartContracts/blob/develop/contracts/multie

[2019-11-28 10:21] mikedeshazer opened #5 "OrFeed DAO Specs"
Update: We have decided to use Aragon OS DAO in a similar way that Melonport used Aragon for their DAO to manage updates to the smart contracts and disperse fees paid to the contract, etc.
So, this post is updated for a spec proposal on using Aragon to manage the orfeed contract.
----
Original:
For the OrFeed oracle, we are interested in replacing the current "onlyOwner" aspect from a single Ether

[2019-11-28 17:16] uivlis commented on #4
Hi, @mikedeshazer! Just a few comments on your bounty description. I thought it would be easy as chat to implement this, but, I realised it makes no sense to query IDEX prices, since you have to know the address of the maker. IDEX is not a liquidity pool (like Uniswap, or Kyber) hence, no "price" for a token in exchange for another. Instead, just like ForkDelta or RadarRelay, you need to know the

[2019-11-29 02:09] mikedeshazer commented on #4
@uivlis good point. I have looked into the issue and it seems you are right. I will update this issue to Bancor.

[2019-11-29 04:22] 0xGojo commented on #2
Hello @mikedeshazer . Can you give me more detail about the task ? like what the meaning of params "string eventName, string source". Can you share your skype Id with me so we can discuss about this issue faster ?

[2019-11-29 05:03] mikedeshazer commented on #2
@thach4567 Do you have telegram? I'm @mikeproof

[2019-11-29 05:21] mikedeshazer commented on #3
Issue is allegedly solved. Will create another issue for tests. Testnet addresses are at the bottom. @mul1sh, let me know if this doesn't work on your end. I don't know if Synths work properly (USD, EUR, etc)... or just share your telegram ID and we can chat about it.

[2019-11-29 05:21] #3 closed

[2019-11-29 06:42] mul1sh commented on #3
@mikedeshazer sure no worries, my telegram id is @MuliliN, we can chat more there. Thanks 🙂

[2019-11-29 09:23] georgeliuyu commented on #5
hi

[2019-11-29 14:01] mikedeshazer commented on #5
@georgeliuyu if you have any questions just DM me on telegram at mikeproof. I'm on Korea time, so FYI (At the moment heading to sleep but will get whatever messages in the AM)

[2019-11-30 11:34] mikedeshazer commented on #4
@uivlis I fixed a few errors and deployed your contract here: https://etherscan.io/address/0x90d6d0c22673ca6fb269b3c918ad025654b24c81#code
I tested it, however, it does not work. I'm assuming it has to do with the contract address you are using or the PATH... perhaps its that the smart tokens have unique addresses and perhaps you need that based on the token.
Also if you look at the address that d

[2019-12-01 03:27] mikedeshazer commented on #4
I added further notes to the issue here:
https://github.com/ProofSuite/OrFeedSmartContracts/blob/develop/contracts/multiexchangewithbancordraft.sol
In the develop branch

[2019-12-01 03:59] mikedeshazer opened #10 "0x Protocol Price Discovery Riddle (No Code, just WHHHEEERRRREEE!!!!)"
Riddle: How do you do price discovery through 0x Protocol's Exchange smart contract?

Facts and hints collected while attempting this along the way. If you want to chat about this, just ping me on telegram: @mikeproof.

This obviously can be done... dYdX queries pricing data from 0x's protocol like this: https://github.com/dydxprotocol/exchange-wrappers/blob/master/contracts/exchange-wrappers/Zero

[2019-12-01 16:12] mul1sh commented on #1
@mikedeshazer Hi, a couple of questions for this issue.

Do I add the proxy contract to `orfeed.sol` or have it as a separate file, which means I also split out the interfaces?

Also the contract will only allow the funding of LINK and also build out the chainlink data request/data receive so that one is able to do the `requestPriceResult` and `getRequestedPriceResult` api calls from orfeed and ge

[2019-12-01 20:58] janus commented on #10
@mikedeshazer
One can use the below to get quantity and from that get price. I used this when I was converting from ETH to DAI and DAI to ETH.

function getBuyAmount()

function getPayAmount()

[2019-12-01 21:47] mikedeshazer commented on #10
@janus specifically what mainnet smart contract address would you call for this?

[2019-12-01 23:49] janus commented on #10
@mikedeshazer
I was referring MakeDAO to point that there should be something similar;

getMarketSellSwapQuoteAsync
getMarketBuySwapQuoteAsync
Inside https://github.com/0xProject/0x-monorepo/blob/36d7afd2a/packages/asset-swapper/src/swap_quoter.ts#L253. But this is JavaScript and it is not free.

[2019-12-02 03:31] mikedeshazer commented on #4
Not sure if this will be incredibly useful but found this https://github.com/bancorprotocol/contracts/issues/282

[2019-12-02 07:44] mul1sh commented on #10
@mikedeshazer  To do price discovery using the 0x protocol,  you need to deploy a [relayer](https://0x.org/docs/guides/using-the-standard-relayer-api) where makers post a orders asking for the token swap and then takers via the ethereum blockchain send orders to the relayer and can choose which maker they would like to trade with and then afterwards the swap occurs via [0x swap contract](https://g

[2019-12-02 09:57] janus commented on #10
@mikedeshazer
What is wrong in following this sequence?

Asset Swapper provides a simple interface to fetch orders from a provided Standard Relayer API and give a price quote for the desired token swap.

Once orders are found, they need to be passed through the integrator’s smart contracts. Up until now, all interactions with 0x protocol have been off-chain. To consume the output fetched off-chain

[2019-12-02 10:46] janus commented on #10
@mikedeshazer

 Hints to the answer are probably here too: https://0x.org/docs/tools/asset-swapper/v2.1.0-beta.3#class-swapquoter So, it's possible, because it's getting data from the blockchain, right?
Yes .. but it not a direct call to contract method. It is partially processed

And this is the last interesting method called before sending to wire. It throws if it fails. And gas price is also pa

[2019-12-02 11:28] mikedeshazer opened #12 "Oracle Registry Contract For Stocks, ETFs, etc"
OrFeed currently provides pricing data from DEXes such as Kyber, Synthetix and Uniswap. We recently added a feature for retrieving off-chain stock and ETF pricing data (as well as a node app for others to serve as providers and provide the same and more data so users can select or aggregate the prices).
We are seeking to replace contracts/stockETFpriceContract.sol with a proxy contract in which:
1

[2019-12-02 14:04] mikedeshazer commented on #10
@janus @mul1sh thanks for the info! Im surprised that when trades are executed via exchange.sol that they are not saved. Think that is a bug, as it wouldnt add much in gas costs for them to save that data so pricing data could be queried on chain from smart contracts. @janus yes aware that the node app can get the data... was hoping it was possible directly from another smart contract. You would t

[2019-12-02 14:12] mikedeshazer commented on #10
@janus regarding your comment, do you know where to find the smart contract/its method  for the contract-fillable aspect you referred to... seems like what were looking for... looked through the blog post but it wasnt immediately apparent.

[2019-12-02 14:37] mikedeshazer commented on #1
@mul1sh it will be in a different contract file. The async get price function in orfeed.sol will reference and interface with it, given the functions in orfeed.sol. And yes, ideally people could deposit LINK to that contract and it would keep up with balances for requests

[2019-12-02 14:51] mul1sh commented on #1
Awesome thanks, wrapping this up now.

[2019-12-03 03:44] janus commented on #10
https://github.com/0xProject/0x-monorepo/tree/development/packages/asset-swapper
const { calldataHexString, ethAmount } = calldataInfo;

Which one are you referring?

[2019-12-03 04:34] mikedeshazer commented on #1
So, will close this once we have tests and then can merge from develop into master

[2019-12-03 04:46] mul1sh commented on #1
@mikedeshazer Sure no worries, let me know if you want some help with the tests too. Thanks 🙂

[2019-12-03 05:06] mikedeshazer opened #17 "Continuous Integration/Tests: Ask You Anything"
Lots of pull requests in the last few days AND, as this is very early project, no mature test/CI protocol like what 0x has going on here: https://circleci.com/gh/0xProject/0x-monorepo?page=1

It's time for a change. Now that most of the core functionality in orfeed is in, and it is extendable, we'll need to keep adding features/fixing/etc... But in order to do this productively we'll need to have

[2019-12-03 05:22] mikedeshazer opened #18 "OrFeed Contract Update Core Functionality Test Suite (automated)"
Currently, OrFeed's core functionality can return popular stock, ETF, and crypto prices on-chain. With all the features we are working to add (Chainlink, Augur, Band, Oracilize, more oracles, etc) and improve (and while we build out our full CI strategy mentioned in the previous issue), we need a simple test implementation that can insure before pull requests are accepted that the following functi

[2019-12-04 11:06] janus commented on #10
@mikedeshazer

Please follow the below steps, one after the other. Step 1 output is feed into step 2 function call, swapQuoteConsumer.getCalldataOrThrowAsync.
If it is okay with you... I would submit it as work done...
**Step 1**
Automatically find orders for any token trading pair

import { SwapQuoter } from '@0x/asset-swapper';

const apiUrl = 'https://api.0x.org/sra/';
const daiTokenAddress = '

[2019-12-05 09:38] k06a commented on #4
Check this comment: https://github.com/bancorprotocol/contracts/issues/282#issuecomment-562046437

[2019-12-05 10:08] mikedeshazer commented on #4
@uivlis deployed your solution here: https://etherscan.io/address/0x253b6f3e72d504f550ff04fec1d467d9459cd8cb#readContract
From the recent pull request. Still does not seem to work
Perhaps @k06a comment share will help
I can certainly say, once this problem is solved, will probably save alot of people headaches.

[2019-12-09 20:57] mul1sh commented on #18
Hey @mikedeshazer, sorry for the long delay, this was wayy tougher than I expected 😅. But still i think I've sorted it and so a few things to note about my PR.

- I had to lock in the solidity version in OrFeed.sol to 0.4.26, to avoid truffle compilation errors because of deprecated statements. We'll need to update this to make it compatible with the latest compiler.
- But still i'm getting lots o

[2019-12-09 21:07] mul1sh commented on #18
Hey @mikedeshazer, sorry for the long delay, this was way tougher than I expected 😅. But still i think I've sorted it and so a few things to note about my PR.

- I had to lock in the solidity version in orfeed.sol to 0.4.26, to avoid truffle compilation errors because of deprecated statements. We'll need to update the contract to make it compatible with the latest solidity compiler.
- But still i'

[2019-12-10 00:16] #18 closed

[2019-12-10 04:32] #12 closed

[2019-12-10 04:32] #1 closed

[2019-12-10 04:48] mul1sh opened #20 "Improve Contract Testing"
I want to make sure the automated testing works well in the testnets by doing the following
- Make sure all the contracts can be deployed to Kovan & Rinkeby without any warnings or errors.
- Remove the hardcoded address and move them to a config so that they are loaded dynamically during testing in any of the ethereum networks.
- Make sure all contracts are able to run using the latest version of

[2019-12-10 06:19] mikedeshazer opened #22 "Integrating OrFeed into a Pegged Token (Explainer Post and Video for Other Devs)"
Here is an example of using orFeed to peg a token issuance to the price of a real-world asset/stock: https://github.com/ProofSuite/OrFeedSmartContracts/blob/master/contracts/pegTokenExample.sol

To bring more discourse around OrFeed and the focus of being an oracle, network of oracle aggregator, and an oracle aggregator (for Chainlink, Augur, etc), third-party explainer posts about what OrFeed is,

[2019-12-10 06:34] mikedeshazer opened #23 "README Translation (Mandarin)"
As we focus on spreading developer engagement around OrFeed, creating documentation that non-English speakers can read is essential.
A README.cm.md would be incredibility useful, and we could link to it from the main README.md.
For any questions, please feel free to reach @mikeproof on telegram

[2019-12-10 06:34] mikedeshazer opened #24 "README Translation (Spanish)"
As we focus on spreading developer engagement around OrFeed, creating documentation that non-English speakers can read is essential for this repository.
A README.es.md would be incredibility useful, and we could link to it from the main README.md.
For any questions, please feel free to reach @mikeproof on telegram

[2019-12-10 09:00] mikedeshazer opened #26 "Smart Contract That Creates A Uniswap Market for Pegged Token upon Creation"
Uniswap allows anyone to create a market for their ERC-20 Token, by interfacing only with smart contracts. We would like to write a simple smart contract that could take an example pegged token(https://github.com/ProofSuite/OrFeedSmartContracts/blob/master/contracts/pegTokenExample.sol) and then upon deployment of the token, take however the owner/creator sent to the constructor and create a unisw

[2019-12-10 12:01] karansinghgit commented on #23
Could I work on it?

[2019-12-10 16:11] sirlupinwatson commented on #23
@mikedeshazer  Hi ,

Want me to translate it in french also ?

🥇

[2019-12-11 13:21] mikedeshazer opened #28 "Using Chainlink via orFeed (Simple Youtube Tutorial Video)"
One of the coolest parts about OrFeed is that is seeks to simplify a developers life when it comes to leveraging oracles. There are alot of projects out there: Chainlink, Provable, Band Protocol, Augur, etc. Orfeed seeks to make it so that you can talk to each of these platforms using the same lines of code and just changing a few parameters.
We just added Chainlink functionality today. Chainlink

[2019-12-20 01:52] sazeleo commented on #28
@mikedeshazer Is this issue still open?

[2019-12-27 20:13] tcrowe commented on #17
Hi @mikedeshazer :wave: You might benefit from asking about if the CI/CD system can be safe from being exploited: https://www.youtube.com/watch?v=mpUDqo7tIk8

The basic idea is that someone can create a PR and the CI/CD clones and runs their exploit. It automatically gets access to the machine, environment, and whatever resources are available.

[2020-01-10 19:55] tcrowe commented on #17
Did you find help with the CI/CD? I'm working on setting up Buildbot. https://www.buildbot.net/

I've also used drone. https://drone.io/

To run your CI scripts most simply and efficiently you will probably benefit from `npm-run-all` package and `package.json#scripts` that run in series. Then your CI/CD only has to call one command like `npm test` or `npm run prd`.

[2020-01-10 20:37] tcrowe commented on #17
Copy right out of 0x

`npm-run-all` module:
https://github.com/0xProject/0x-monorepo/blob/development/package.json#L88

`package.json#scripts`:
https://github.com/0xProject/0x-monorepo/blob/development/package.json#L11

Look for `run-s` in the scripts.

You can tap CircleCI, Travis, and I think there are others. It depends if you can do it in public or private. But whatever you do please try to do

[2020-01-22 05:48] #28 closed

[2020-01-22 05:48] #26 closed

[2020-01-22 05:48] #23 closed

[2020-01-22 05:48] #22 closed

[2020-01-22 05:48] #20 closed

[2020-01-22 05:49] #5 closed

[2020-01-22 05:49] mikedeshazer commented on #2
Update on the issue: still working on it and open to proposals

[2020-01-22 05:50] #10 closed

[2020-01-22 05:50] #17 closed

[2020-01-22 06:17] mikedeshazer opened #31 "Bug(s) Fix: Leveraged Positions Smart Contract Example"
The Leverage Facility Token example smart contract (contracts/examples/ConsumeDataExample/ levFacilityTokenExample.sol) was created to do the following (most of which works/there is semi-working code for):
1) Allow a person/organization to create a token with the initial price pegged to the price of a stock (in the example Alibaba, but could be any that OrFeed currently supports). The creator/owne

[2020-01-25 03:38] mikedeshazer opened #33 "Random Number Oracle Using OrFeed Realtime Pricing Data + Typical Hashing"
The idea here is that people will be able to use orfeed for their lottery/casino/other dapps that need randomness.
Right now we have an oracle registry system in which anyone can get an oracle name. One cool oracle idea is to have an oracle connected to orfeed, whereby people can call the getExchangeRate method that takes a minimum number (as the fromSymbol param), maximum number (as the toSymbol

[2020-01-26 00:24] #33 closed

[2020-01-26 00:32] mikedeshazer opened #35 "README Translation (Russian)"
As we focus widening the development engagement possibilities for contributors of OrFeed, creating documentation for non-English speakers is essential for this repository.
A README.ru.md would be incredibility useful, and we could link to it from the main README.md.
For any questions, please feel free to reach @mikeproof on telegram

[2020-01-26 00:33] mikedeshazer opened #36 "README Translation (Arabic)"
As we focus widening the development engagement possibilities for contributors of OrFeed, creating documentation for non-English speakers is essential for this repository.
A README.ar.md would be incredibility useful, and we could link to it from the main README.md.
For any questions, please feel free to reach @mikeproof on telegram

[2020-01-26 12:21] Palanes1978 commented on #35
а по русски гдето написано что делать надо а то вроде сделал да не все походу

[2020-01-26 12:27] Palanes1978 commented on #35
i can translate the Readme to Russian

[2020-01-27 03:15] mikedeshazer commented on #24
Dale-E submitted translation and was merged

[2020-01-27 03:15] #24 closed

[2020-01-27 03:42] mikedeshazer opened #38 "Interest Rate Oracle Consumer Contracts"
Recently, there was a post regarding grabbing interest rate data from various smart contracts (dydx, Compound, Fulcrum): https://medium.com/iearn/how-we-built-on-chain-apr-for-ethereum-defi-a8d84b680758

Here is an example of a random number generator oracle that is in the proper format to be an OrFeed-compatible oracle: https://github.com/ProofSuite/OrFeed/blob/master/contracts/examples/ProvideDa

[2020-01-27 06:03] mikedeshazer opened #39 "Aave Flash Loan Integration into OrFeed Arb Method (Proxy + Aave Receiver Contract)"
The new Aave uncollateralized flash loan functionality allows users to borrow funds from Aave to perform arbitrage between token pairs and Dexes. (https://defirate.com/aave-protocol-mainnet/)
Inside the main OrFeed contract we have a .arb method for executing arbitrage between token pairs.
Essentially, a receiver proxy contract that could take parameters from the .arb method (address fundsReturnTo

[2020-01-27 11:54] mikedeshazer opened #40 "Korean Translation of README"
(Yes, we are based in Korea, but we're expats, okay lol)
As we focus on  widening the development engagement possibilities for contributors of OrFeed, creating documentation for non-English speakers is essential for this repository (especially for the country we currently reside in).
A README.kr.md would be incredibility useful, and we could link to it from the main README.md.

For any questions/c

[2020-01-29 05:27] #35 closed

[2020-01-30 03:37] #38 closed

[2020-01-30 09:53] mikedeshazer opened #44 "Binary Option/Prediction Market Consumer Contract Example"
One OrFeed use-case might be a binary options/prediction market smart contract in which a user specifies the direction of an asset like BTC or ETH (long or short), funds are locked for 5 minutes, and then the user settles after expiry (doubling if the direction is in their favor, while receiving a 0 return otherwise).

When another user placed a prediction market transaction, it would check all pe

[2020-01-31 04:52] mikedeshazer opened #45 "Test Contract on Mainnet, Comment Addresses in, and Submit Issues"
In this contract: https://github.com/ProofSuite/OrFeed/blob/master/contracts/examples/ProvideDataExamples/interestRateOracleContract.sol, there are references to platformTokens.
We would like a pull request in which which the reference "platformTokens" have commented code for the current addresses. Further all other non-token contracts ahve the references commented in. We can then add these tokens

[2020-02-01 05:54] Tomyumz commented on #45
Thank you very much for fund offers .

[2020-02-01 12:39] mikedeshazer opened #46 "Oracle Example Code for Censored Data"
One of the greatest benefits to the Ethereum blockchain is that data can be immutably saved and it is censorship resistant. As we know, with Google, et al, when data that is not friendly to needs of Big Business/States, finding data that might be reported from hacks/leaks might be incredibly hard to find by the non-dark web user.
Recently, we added the dataAndEventRegistry (https://github.com/Proo

[2020-02-01 13:03] mikedeshazer opened #47 "Example dApp Interface for Oracle Discovery (Front-end only)"
OrFeed has a price/numerical date registry and an event/general data registry (this one mostly for uncensored data: https://github.com/ProofSuite/OrFeed/blob/master/contracts/dataAndEventOracleRegistry.sol

In the smart contract, each time an oracle is registered it is appended to a public array so that all oracles are discoverable.

We are seeking a simple user interface in which someone can conn

[2020-02-04 05:25] nikhil3000 commented on #44
Hey, I am still working on it. Will send a PR as soon as I am ready.

[2020-02-06 03:45] apoorvlathey commented on #46
@mikedeshazer Please have a look at my PR: https://github.com/ProofSuite/OrFeed/pull/49

[2020-02-06 11:15] #46 closed

[2020-02-07 09:02] mikedeshazer opened #51 "Calculate/Distribute Based on Prediction Market Results"
One example for using OrFeed within a smart contract is to get human oracle results in a prediction market. An example dApp is being developed at https://www.floater.market

Currently, we have a template for an example prediction market here: https://github.com/ProofSuite/OrFeed/blob/master/contracts/examples/ConsumeDataExamples/milestonePredictionMarketTemplate.sol

There are TODOs in the resolve

[2020-02-07 09:28] mikedeshazer opened #52 "OrFeed Judge Voting Contract For Prediction Market"
Thanks for stopping by and checking out this issue.

This proposed voting contract will be used by judges serving as oracles in a market such as https://www.floater.market and allows:

1. Authorized Ethereum Addresses to Vote on an event via a string of "TRUE" ,
"UNDECIDED" or "FALSE". Each address should  be tied to a name and description that can be edited by the contract owner or the address ow

[2020-02-07 12:08] mikedeshazer commented on #51
It's https://www.floater.market (was originally posted incorrectly)

[2020-02-08 05:01] mikedeshazer commented on #52
Temporarily closing while we review a PR over weekend.

[2020-02-08 05:01] #52 closed

[2020-02-10 07:23] mul1sh commented on #31
Hey @mikedeshazer just to clarify. So it seems 1, 2, 3  are done only 4 and 5 are missing correct? I'm currently looking into this and would like to solve it today 🙂

[2020-02-10 07:38] mikedeshazer commented on #31
@mul1sh mostly yes. Looking forward to reviewing the code!

[2020-02-10 10:00] mikedeshazer opened #54 "Layer2 No-Fee Transaction Oracle Provider Proposal"
New platforms such as Liquidity.Network, OST (provider for Pepo) and a few other Layer 2 platforms boast zero-fee transaction offerings. As an oracle provider/aggregator, zero-fee transactions seems too good to be true; however, would be amazing.
Currently, OrFeed providers pay traditional gas with ETH to update the Ethereum blockchain with stock, ETF, and other off-chain assets so that smart cont

[2020-02-10 14:13] nikhil3000 commented on #44
Hey guys, I have written my contract. But there the call to getExchangeRate is returning 0 on both rinkeby and kovan testnet. Here is the code I deployed in rinkeby.

[code]

I tried for BTC/USD, BTC/USDC, JPY/USD pairs. Please point out the mistake. My bounty task will be complete if this issue is fixed.

[2020-02-10 23:52] mikedeshazer commented on #44
@nikhil3000 the orfeed contract of 0x97875355eF55Ae35613029df8B1C8Cf8f89c9066 is for mainnet. If you post your eth address, we can send over some eth for testing on mainnet

[2020-02-11 06:16] nikhil3000 commented on #44
Sent on discord.

[2020-02-12 01:29] alialiwa2005 commented on #45
I've requested ETH to cover gas costs, but I haven't yet recieved any ETH.

[2020-02-12 01:49] #54 closed

[2020-02-12 04:20] mikedeshazer commented on #45
@alialiwa2005 did not see your request/address on discord or telegram. You can message me on telegram (@mikeproof).

[2020-02-12 06:46] mikedeshazer commented on #4
Third party oracle integrated via the registry.
Example call on mainnet:
uint price = orfeed.getExchangeRate("ETH", "DAI", "BANCOR", 1000000000000000);

[2020-02-12 06:46] #4 closed

[2020-02-12 09:03] mikedeshazer opened #57 "Arbitrage and Triangular Arbitrage Calculator"
Bancor was recently added as a price oracle to the OrFeed ecosystem. Currently, you can get the Uniswap (Buy and Sell),  Kyber (Buy and Sell) and Synthetix (Buy and Sell), as well.

One of the greatest benefits of OrFeed is for Arbitrage discovery. Additionally, users can add their own oracles to the registry, so it is expandable. This is also why it's difficult to test OrFeed off-mainnet... there

[2020-02-18 20:36] mul1sh commented on #31
hey @mikedeshazer i've been going through this contract extensively for the past few days and trying to find and fix all the bugs i found. And the only bugs I seem to found relate to no. 4 only and a few syntax warnings, everything else is working as it should, apart also from the uniswap part which will be a later functionality.

So my question is, were you able to find any bugs or is there anyth

[2020-02-19 07:58] mikedeshazer commented on #31
@mul1sh #3 is not in the contract. The contract misses the calculations for positions/settlement

[2020-02-19 10:29] Devilla commented on #47
orfeed.getExchangeRate() method isn't returning values on Kovan and Rinkeby. https://kovan.etherscan.io/address/0x31a29958301c407d4b4bf0d53dac1f2d154d9d8d#readContract

[2020-02-19 10:30] Devilla commented on #31
@mikedeshazer orfeed.getExchangeRate() isn't returning values for kovan and rinkeby.
https://kovan.etherscan.io/address/0x31a29958301c407d4b4bf0d53dac1f2d154d9d8d#readContract

![image](https://user-images.githubusercontent.com/15603274/74827277-28225e80-5333-11ea-8bdc-04a06cab801e.png)

[2020-02-19 16:05] mul1sh commented on #31
Ahh ok, I see it now.

[2020-02-21 14:07] alialiwa2005 commented on #45
@mikedeshazer expect to see an update soon, currently working on it.

[2020-02-21 16:25] alialiwa2005 commented on #45
- Edited .sol contract as requested.
- Pull request published: https://github.com/ProofSuite/OrFeed/pull/60
- Work submitted (Pull request sent to bounty) on Gitcoin.co
I am still open to responses, as I am in need of assistance towards deploying contract to mainnet, if that too is requested.

[2020-02-22 23:29] molecula451 opened #61 "Inconsistency in the markdown and JSX file"
Line 7 <code>truffle-config.js</code> : <code> const mnemonic = readFileSync(".secret").toString().trim(); </code>

On the markdown testing section Step 3:

Create a **.secrets** file in the root folder of this project, and paste into it the mnemonic phrase of the the wallet you

Could be either change on variable or in the markdown

[2020-02-23 15:12] alialiwa2005 commented on #40
#62
Translated English version of README.md to Korean version (README.kr.md).
As listed on Gitcoin Bounty: https://gitcoin.co/issue/ProofSuite/OrFeed/40/3943, this task has been completed, proof-read, and submitted February 23rd, 2020.

[2020-02-24 00:47] mul1sh commented on #31
@mikedeshazer actually still on no 3, I can see the settlements are being calculated and issued based on the difference of the asset price so this is also done or i'm missing something? Also shouldn't the leverage be set by the user, based on a global leverage ratio, before opening a position? This way you can easily tell whether a user made a profit or loss from their bet and reward them accordin

[2020-02-24 01:10] mul1sh commented on #31
Also by how much should the pegged token be over-collaterized should it fixed during contract creation i.e. hard code 50% where for each pegged token to mint you need atleast double the value in ether or dynamic as set by the minter

[2020-02-24 03:48] mikedeshazer commented on #31
@mul1sh yes leverage is set by user. On settlement it is calculated and distributed.

[2020-02-25 06:10] laman-git opened #63 "Error: Returned error: The method eth_sendTransaction does not exist/is not available"
Hello,
I am trying to follow along with the tutorial series. I am on the basicArbExample task
I got close to the end of the tutorial but am getting an error when running `npm start`

Below is the following error.
I have a good Google but sadly do not understand how to fix it.. any hints?

[code]

[2020-03-19 09:08] dzhelezov commented on #31
Is there still anything left to work on?

[2020-04-01 06:16] landrassy123 opened #66 "Metamask error: Exception thrown in contract code"
When attempting to write to my new arbitrage smart contract and call the arb function, I keep getting the above error on metamask regardless of the gas settings. I examined my code and still do not see the issue.

Contract address: https://etherscan.io/address/0x00cf9a57710ce31bb381550e458a59a9034b4051

[2020-04-01 15:00] mikedeshazer commented on #66
@landrassy123 make sure to compile with Solidity v. 0.4.26. Should work.

[2020-04-01 15:00] mikedeshazer commented on #63
@laman-git make sure to do an npm install before npm start.

[2020-04-01 17:28] landrassy123 commented on #66
Unfortunately I have been doing that. Strangely, the example contract from the second yourtube lesson gives the same error - is this simply because I am not the owner or is it the same issue? Or is it possible that come convention(s) has changed since the video and some of my syntax is incorrect? Still having no luck troubleshooting this. Thanks for the prompt reply!

[2020-04-05 03:30] landrassy123 commented on #66
Could you try to run the tutorial file again and see if you run into the same error - it seems ive tried everything to no avail :(

[2020-04-11 18:05] tycooperaow opened #67 "Issue executing trades. Trades get reverted"
So my smart contract has difficulty executing trades and I was able to pinpoint the source of the problem here.

![chrome_2020-04-10_23-25-48](https://user-images.githubusercontent.com/35544142/79051147-8ca7be80-7bfc-11ea-85f9-bbe669ae4f19.png)

In my terminal, I get this message after the trade has been made.
![error-with-revert](https://user-images.githubusercontent.com/35544142/79051154-97faea0

[2020-05-05 00:12] mikedeshazer commented on #67
@tycooperaow if you verify your contract code on Etherscan, we can debug the error on tenderly.dev and see what's going on. Let me know!

[2020-05-05 00:14] mikedeshazer commented on #66
@landrassy123 try the arb function directly through orfeed... might work better for you. Video tutorial: https://www.youtube.com/watch?v=dFwZvxW3Upw
Was created to simplify things!

[2020-05-05 00:15] #63 closed

[2020-05-05 00:15] #2 closed

[2020-05-05 00:15] #31 closed

[2020-05-05 00:16] mikedeshazer commented on #39
Resolved. Tutorial on youtube in "DeFi Lesson 3"

[2020-05-05 00:16] #39 closed

[2020-05-05 00:16] #40 closed

[2020-05-05 00:16] #44 closed

[2020-05-05 00:17] #45 closed

[2020-05-05 00:17] #47 closed

[2020-05-05 00:18] #57 closed

[2020-05-05 00:24] tycooperaow commented on #67
How do I go about getting it confirmed on etherscan? I been having some issues with that.

[2020-05-05 00:32] mikedeshazer commented on #67
The key is to make sure you select the proper compiler (0.4.26), single file, and set optimized to false (default).
https://etherscan.io/verifyContract?a=0x1a5924bed24b4dece2b2c217049a7cb6628c1200 for your contract

[2020-05-05 00:33] mikedeshazer commented on #61
@molecula451  Looking into this

[2020-05-05 00:33] #51 closed

[2020-05-05 00:33] #36 closed

[2020-05-05 00:34] tycooperaow commented on #67
I was given this error:

 Error! Unable to generate Contract ByteCode and ABI

[2020-05-05 00:36] tycooperaow commented on #67
![chrome_2020-05-04_20-35-57](https://user-images.githubusercontent.com/35544142/81026085-ed669780-8e46-11ea-9bc6-dd69c3865380.png)
`

[2020-05-10 11:18] mikedeshazer commented on #67
@tycooperaow you don't need to paste your ABI on Etherscan when doing single files  on compile 0.4.26. Not sure why this is the case on Etherscan but try verifying it without the ABI. Ran into that issue a while back, and just removed the ABI... It's an Etherscan thing...let me know!

[2020-05-10 12:56] mikedeshazer opened #69 "OrFeed Testnet Deployments Out-Of-Date"
Let's admit: Various aspects of this codebase are a mess, as it was conceived during a hackathon and then iterated on.

But it's an amazing opportunity in the art of the renovation, as we proceed. This renovation starts with tests and testnet redeployments.
The goal is to redeploy the Rinkeby and Kovan contracts for the main contract (orfeed.sol), linking it to the appropriate testnet contracts fo

[2020-05-10 13:17] tycooperaow commented on #67
So I did what you told me and still go the error, here's my process

![chrome_2020-05-10_09-14-49](https://user-images.githubusercontent.com/35544142/81500257-0df77d00-929f-11ea-9f1c-00cf5939e8e2.png)
![chrome_2020-05-10_09-15-56](https://user-images.githubusercontent.com/35544142/81500258-0df77d00-929f-11ea-9db4-0cc7d2501f07.png)
![chrome_2020-05-10_09-16-14](https://user-images.githubusercontent

[2020-05-10 13:21] mikedeshazer commented on #67
@tycooperaow the only thing I can think of is the the contract code is indeed not what was submitted. Good news though, a UI for executing arb is coming to OrFeed in the coming days, so will be much easier to test out, figure out where bugs reside (if they reside)!

[2020-05-10 13:25] tycooperaow commented on #67
That's good to hear, any update on when it'll be released?

[2020-05-10 13:26] mikedeshazer commented on #67
Likely within 72 hours!

[2020-05-16 05:34] mikedeshazer opened #70 "OrFeed.arb method documentation"
We are crowdsourcing something that's everyone's favorite: documentation!

In addition to being a pricing oracle, OrFeed offers the .arb method for allowing users and smart contracts to perform triangular arbitrage between several tokens and decentralized exchanges in a single transaction.

Currently, there is also a simple UI that demonstrates the basic core feature: https://www.orfeed.org/angle

[2020-05-16 23:22] mikedeshazer commented on #70
@Ryan-Gordan thanks! On Gitcoin, please select "Submitted Work" and we can close this out

[2020-05-17 05:48] vporton commented on #69
Are token addresses in `Rinkeby/` and `Kovan/` like

        freeRateTokenSymbols['DAI'] = 0x2448eE2641d78CC42D7AD76498917359D961A783;

already correct? Or each address needs to be checked?

[2020-05-17 08:26] vporton commented on #69
Is it a good idea to autogenerate all of `orfeed.sol`, `Rinkeby/orfeed.sol` and `Kovan/orfeed.sol` from one source file?

If yes, what to use to generate it? `make`?

[2020-05-18 05:38] mikedeshazer commented on #69
@vporton yes I believe, for example, the new DAI/SAI was after the original deployment, so yes, those would need to be updated. Also, regarding the autogeneration, whatever works :)

[2020-05-18 09:37] vporton commented on #69
Where to gather the information about the contract addresses?

[2020-05-19 10:52] #70 closed

[2020-05-19 20:43] mikedeshazer commented on #69
@vporton exactly. Etherscan/each project's website has their rinkeby and other testnet contract data. That is why this is so difficult to do at the moment as far as testnets go...

[2020-05-19 20:44] mikedeshazer commented on #67
@tycooperaow its here https://www.orfeed.org/angle

[2020-05-19 20:52] vporton commented on #69
There exists multiple versions of testnet DAI. I have no idea which of them is the "true".

I will stop work.

[2020-05-19 23:17] mikedeshazer opened #72 "OrFeed Truffle Box / Ganache Testing (A Better Strategy and Implementation)"
We currently have a Truffle-ish implementation that was created months ago. We take a mainnet first approach as the oracle and execution aggregation are needed by DeFi traders (often who are not professional coders) to get data and execute their trade strategies across platforms... and just needs to work (well). Currently, we are doing that pretty well for the main use cases.
However, to help get

[2020-05-31 06:22] #72 closed

[2020-05-31 06:33] mikedeshazer opened #73 "OrFeed Gas Saving Contract Completion"
NOTE: This issue will likely be resolved after 48 hours if issue is not resolved by third-party. This contract (https://github.com/ProofSuite/OrFeed/blob/master/contracts/examples/extra/gasRetail.sol)  was drafted because many users of OrFeed Angle are requesting cheaper transaction fees on the ETH blockchain, and this is one way of achieving cheaper gas prices on transactions while still getting

[2020-06-03 03:18] #73 closed

[2020-06-14 13:18] #67 closed

[2020-06-14 13:18] #66 closed

[2020-07-26 16:54] rori4 commented on #69
are the testnet contracts going to be updated?

[2020-08-12 03:58] olegmitrakhovich opened #76 "traderExampleLesson2.sol orfeed.getExchangeRate for Kyber exchange always returns zero"
I've been trying to test out traderExampleLesson2.sol and I noticed that

`function getKyberBuyPrice() constant returns (uint256){  //change this to SAI
       uint256 currentPrice =  orfeed.getExchangeRate("ETH", "SAI", "BUY-KYBER-EXCHANGE", 1000000000000000000);
        return currentPrice;
    }`

Probably will not work once the contract is deployed. It always returns zero when that function is

[2020-09-27 09:19] Vamsee30 commented on #76
The ether address Mike put is '0x00eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'

This is wrong, it should be:
'0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'

Second, the DAI address should be 0x6b175474e89094c44da98b954eedeac495271d0f

[2020-12-01 01:31] #76 closed

[2020-12-01 01:32] #69 closed

[2020-12-01 01:32] mikedeshazer commented on #61
Closing this issue. We'll cover this in release 0.5

[2020-12-18 20:45] kennisnutz opened #77 "Not Retrieving Kyber SAI Sell price"
I cloned and ran this application but it returned 0 for the value of the Kyber SAI Sell price.

[2021-02-01 09:01] mikedeshazer commented on #77
@kennisnutz Kyber no longer supports SAI from my understanding

[2021-02-10 12:02] Mahsa-Bastankhah opened #79 "ETH to USD"
Hi. I'm testing the orFeed smart contract in https://www.orfeed.org/explorer/ and when I give the following input to get the price of ETH in Dollar :
`DEFAULT      ETH     USD    10000000000000000`
I get `Output:4452635146818531000` that isn't obviously the price of ETH today ( 10th February 2021) what should I do?

[2021-02-22 17:29] edd34 commented on #77
I confirm, SAI is not present in list of token in Kyberswap app.
See below :
https://www.kyberswap.com/swap/eth-knc

@mikedeshazer I think the issue can be closed.

[2021-02-22 17:45] edd34 commented on #79
Hi, @Mahsa-Bastankhah, if you want to query the ETH to USD price you can query the price on UNISWAP or KYBERSWAP.
Use "DEFAULT" Venue if you want to query fiat currency
![image](https://user-images.githubusercontent.com/19561505/108747255-87661080-753d-11eb-93a7-f1e99509a66a.png)
![image](https://user-images.githubusercontent.com/19561505/108747330-9baa0d80-753d-11eb-944c-16e2b301cfe3.png)
![image

[2021-03-23 03:58] danbunnell opened #81 "Cloning fails on Windows due to whitespace in path"
Hi,

I was attempting to clone this repository on Windows but checkout fails due to whitespace at the end of a folder name: `nodeJSAppExamples/basicArbExample /.gitignore`.  I have included the full error below.

The temp workaround is to download the ZIP: Windows appears to handle unpacking the ZIP by removing the whitespace silently during the process.  However, the workaround does not help to g

[2021-03-31 13:46] edd34 commented on #81
Hi, I have pushed a fix for this issue @danbunnell
Please try the solution I have suggested

[2021-03-31 18:02] danbunnell commented on #81
@edd34 I have confirmed your PR fixes the issue on Windows, thank you!

[2021-04-03 13:07] kennisnutz commented on #77
thanks for the clarification

[2021-04-03 13:08] #77 closed

[2021-06-06 21:44] c-vision opened #83 "I always get an error"
I cannot use OrFeed because I always  get a REVERT error on Ganache Mainnet Fork and Solidity 0.8.4. I am using truffle suite and I copied your example, just changing the compiler version

[2021-09-17 12:06] b7011343 opened #84 "Supported venues"
Just wondering if it is possible for all the supported venues to be listed in the docs for getting the exchange rate on tokens.

[2021-10-31 02:06] federicosan opened #85 "Is this abandoned and other questions"
I've seen this has not been updated for a while. Whats the diference between orfeed and flashbots?

[2021-12-10 22:46] zellerron commented on #85
Brand new to Solidity.  I realize that since OrFeed was created, there has been many changes made to solidity, syntax wise.  I was wondering if there would ever be an update to go along with the new changes or there would possibly be a new video that deals with the some of the changes?  Thanks for building OrFeed in the first place.  It's an incredible tool.

[2021-12-10 22:48] zellerron opened #86 "Addressing new updates with Solidity and how that affects the current OrFeed build"
Brand new to Solidity. I realize that since OrFeed was created, there has been many changes made to solidity, syntax wise. I was wondering if there would ever be an update to go along with the new changes or there would possibly be a new video that deals with the some of the changes? Thanks for building OrFeed in the first place. It's an incredible tool.